html{
    font-family: monospace;
}

body{
    margin: 0;
    background-color: azure;
}

header{
    background-color: rgba(0, 183, 255, 0.87);
    padding: 30px;
}

header h2{
    color: aliceblue;
    text-align: center;
    font-size:50px;
}

img{
    border-radius: 15px;
}

#video1{
    border-radius: 15px;
}

.container{
    width: 400px;
    margin: 0 auto;
}

li{
    color: aliceblue;
}

section article{
    background-color: rgba(220, 242, 245, 0.815);
    margin:0 auto;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}

form{
    background-color: rgba(220, 242, 245, 0.815);
    margin:2px auto;
    border-radius: 15px;
    text-align: center; 
}

form #labelnombre{
    margin: 10px;
}

form #labelapellido{
    margin: 10px;
}

form #labelcorreo{
    margin: 10px;
}

footer{
    background-color: rgba(0, 183, 255, 0.87);
    color: aliceblue;
    text-align: center;
    margin: 10px;
    border-radius: 15px;
}
.dark-mode {
    background-color: black;
    color: white;
}

header.dark-mode{
    background-color: black;
    color: white;
}






